<!DOCTYPE html>
<html lang="en">
  <%- include('header.ejs') %>
  <%- include ("style") %>

  <body>
    <%- include('navbar.ejs') %>

    <section class="page">
      <div role="main" id="list" class="container slide-in-bottom">
        <div>
          <h2 class="float-left text-white">Employee Listing</h2>
        </div>
        <div>
          <table class="table-hover table-striped">
            <thead class="thead-light"> 
              <tr>
                <th>Employee ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position</th>
                <th>Department</th>
                <th>View Record</th>
              </tr>
            </thead>
              <tbody>
                <% for(var i = 0; i < employees.length; i++) { %>
                <tr>
                  <td><%= employees[i].id.substr( employees[i].length, 6 ) %></td>
                  <td><%= employees[i].firstName %></td>
                  <td><%= employees[i].lastName %></td>
                  <td><%= employees[i].jobPosition %></td>
                  <td><%= employees[i].department %></td>
                  <td><a href="/view/<%= employees[i].id %>">View</a></td>
                </tr>
              </tbody>
              <% } %>
            </table>
          </div>
          <a class="btn float-right" href="/new">Add New</a>
    </div>
  </section>
    <%- include('footer.ejs') %>
    <%- include('scripts') %>
  </body>
</html>