<!DOCTYPE html>
<html lang="en">
  <%- include ("header") %>

  <body>
    <%- include ("navbar") %>
  <section class="page">
    <div role="main" class="container slide-in-bottom">
      <h2 class="text-white">Employee Details</h2>

      <table class="table-hover">
        <thead> 
          <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= employee[0].id.substr( 0, 6 ) %></td>
            <td><%= employee[0].firstName %></td>
            <td><%= employee[0].lastName %></td>
            <td><%= employee[0].jobPosition %></td>
            <td><%= employee[0].department %></td>
          </tr>
        </tbody>
      </table>
      <a class="btn float-right" href="/list">Return to Employees</a>
    </div>
  </section>
    <%- include ("scripts") %>
    <%- include ('footer') -%>
  </body>
</html>